<div class="topnav" id="myTopnav">
  <a href="https://szczecin.stat.gov.pl" class="active"><img src="{{site.baseurl}}/assets/img/logo_szczecin.svg" width="240px"></a>
  <a href="javascript:void(0);" style="font-size:15px;margin-top: 35px;" class="icon" onclick="myFunction()">&#9776;</a>
  <div id="navright">
    <a></a>
    <a href="{{site.baseurl}}/">Strona główna</a>
    <a href="{{site.baseurl}}/wykreslanka">Wykreślanka</a>
    <a href="{{site.baseurl}}/segregacja">Segregacja</a>
    <a href="{{site.baseurl}}/memory">Memory</a>
  </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
