#game_container {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

#game_container #draggable_container, #game_container #droppable_container, #game_container {
	/*border: 1px solid #999;*/
	width: 100%;
	margin-bottom: 20px;
}

#game_container #draggable_container {
	height: 90px;
}

#game_container #droppable_container {
	min-height: 242px;
  overflow: hidden;
}

#game_container .dragthis, #game_container .dropped, #game_container .correct, #game_container .incorrect {
	text-align: center;
	cursor: move;
	/*background-color: #CCF;*/
	width: 70px;
	height: 70px;
	/*border: 1px solid blue;*/
	padding: 5px;
	float: left;
	margin: 5px 0 0 5px;
	color: #333;
	-webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android =1.6 */
	border-radius: 5px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */

	/* useful if you don't want a bg color from leaking outside the border: */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#game_container .dropped, #game_container .correct, #game_container .incorrect {
	/*width: 188px;*/
	margin: 5px 0 0 0;
	font-weight: normal;
	text-align: center;
	display: none;
}

#game_container #draggable_container div.ui-sortable-helper {
	-webkit-box-shadow: 3px 3px 5px 0px #333; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 3px 3px 5px 0px #333; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
	-moz-box-shadow:    3px 3px 5px 0px #333;
}

#game_container #droppable_container div.subcontainer {
	margin: 0% 1% 3% 1%;
	width: 18%;

	text-align: center;
	pointer-events: none;

	/*height: 220px;*/
	/*border: 1px solid #990;*/
	background-image: url("images/tlo.jpg");
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	color: #333;
	background-color: #FFC;
	padding: 5px;
	float: left;
	-webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android =1.6 */
	border-radius: 5px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */

	/* useful if you don't want a bg color from leaking outside the border: */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#game_container #button_container {
	text-align: center;
	width: 656px;
}

#game_container .correct {
	border: 1px solid #393;
	background-color: #AFA;
}

#game_container .incorrect {
	border: 1px solid #933;
	background-color: #FAA;
}

#game_container #draggable_container{
	text-align: center;
	color: #fff;
	line-height: 4em;
	background-image: url("images/tlo2.jpg");
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#game_container #draggable_container #score_text {
	padding: 20px;
	pointer-events: none;
}

#game_container #message {
	padding: 20px;
	position: absolute;
	height: 0;
	width: 0;
	border: 1px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 5px 0px #333; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 3px 3px 5px 0px #333; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
	-moz-box-shadow: 3px 3px 5px 0px #333;
}

#game_container #message #text {
	padding-bottom: 10px;
}

#game_container #draggable_container .score {
	font-weight: bold;
}

img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
}

#modal {
    position: fixed;
    /*top: 0;*/
    left: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 99999;
    height: 100%;
    width: 100%;
    text-align: center;

}
.modalconent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    padding: 20px;
		animation-name: animatetop;
  	animation-duration: 0.4s;
		margin-top: -50px;
}

figure{
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 120px;
	margin: 4px;
}

#button {
	padding: 0.3em 1em;
	background: #001d77;
	color: #FFF;
	border: 0;
	font-weight: bold;
	border-radius: 4px;
	transition: 0.5s background-color, 0.5s box-shadow;
	cursor: pointer;
	display: block;
	margin: 30px auto;
}

@keyframes animatetop {
  from {opacity: 0}
  to {opacity: 1}
}
