---
layout: default
---

<div id="main" role="main">

    <div class="flex-container">

      <div class="flex-child magenta">
        <button class="button game-animals" id="start"><a href="zwierzeta" style="color: #1e7e34;"><img src="{{site.baseurl}}/assets/img/kategoria/zwierzeta.png" width="200px" style="display: block;">Zwierzęta</a></button>
      </div>

      <div class="flex-child green">
        <button class="button game-plants" id="start"><a href="rosliny" style="color: #1e7e34;"><img src="{{site.baseurl}}/assets/img/kategoria/rosliny.png" width="200px" style="display: block;">Rośliny</a></button>
      </div>

    </div>
</div>
